<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>省市县选择案例</title>
    <script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript">
    	$(function(){
    		//发起ajax请求，获取所有省级地区信息
    		//获取信息用get，涉及到信息修改使用post
    		$.get('/prov',function(data){//简写get
    			//回调函数
    			//返回json数据
    			res = data.data
    			//获取prov下拉列表框
    			prov = $("#prov")
    			//遍历res数组，获取每一个元素
    			/*for(i=0;i<res.length;i++){
    				id = res[i][0]
    				atitle = res[i][1]

    				option_str = '<option value="'+id+'">'+atitle+'</option>'
    				prov.append(option_str)
    			}*/
    			$.each(res,function(index,item){
    				// console.log(index)
    				// console.log(item)
    				id = item[0]
    				atitle = item[1]
    				option_str = '<option value="'+id+'">'+atitle+'</option>'
    				prov.append(option_str)
    			})
    		})
    		$("#prov").change(function(){
    			prov_id = $(this).val()
    			$.get('/city'+prov_id,function(data){
    				res = data.data
    				city = $("#city")
    				dis = $("#dis")
    				city.empty().append('<option>---请选择市---</option>')
    				dis.empty().append('<option>---请选择县---</option>')
    				$.each(res,function(index,item){
    				// console.log(index)
    				// console.log(item)
    				id = item[0]
    				atitle = item[1]
    				option_str = '<option value="'+id+'">'+atitle+'</option>'
    				city.append(option_str)
    			})

    			})
    		})
    		$("#city").change(function(){
    			city_id = $(this).val()
    			$.get('/city'+city_id,function(data){
    				res = data.data
    				dis = $("#dis")
    				dis.empty().append('<option>---请选择县---</option>')
    				$.each(res,function(index,item){
    				// console.log(index)
    				// console.log(item)
    				id = item[0]
    				atitle = item[1]
    				option_str = '<option value="'+id+'">'+atitle+'</option>'
    				dis.append(option_str)
    			})

    			})
    		})
    	})
    </script>
</head>
<body>
<select id="prov">
	<option>---请选择省---</option>
</select>
<select id='city'>
	<option>---请选择市---</option>
</select>
<select id="dis">
	<option>---请选择县---</option>
</select>
</body>
</html>