<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户登录</title>
    <script src="/static/js/jquery-1.12.3.min.js"></script>
    <script>
        $(function () {
            $("#login").click(function () {
                username = $("#username").val();
                password = $("#password").val();
                vcode = $('#vcode').val();
                $.ajax({
                    'url': '/login_ajax_check',
                    'type': 'post',
                    'dataType': 'json',
                    'data': {'username': username, 'password': password,'vcode':vcode},
                    'async': false,
                    {#"csrfmiddlewaretoken":$("[name='csrfmiddlewaretoken']").val(),#}
                }).success(function (data) {
                    if (data.res == 1) {
                        location.href = '/change_pwd';
                    }
                    else {
                        $(".hintinfo").show().html('用户名或密码错误，请重新输入');
                    }
                })
            })
        })
    </script>
    <style>
        .hintinfo{
            display: none;
            color: red;
            font-size:16px;
        }
    </style>
</head>
<body>
    {% csrf_token %}
    <div>
        用户名：<input type="text" id="username">
    </div>
    <div>
        密  码：<input type="password" id="password">
    </div>
    <img src="/verify_code"><input type="text" id="vcode">
    <div>
        <input type="button" id="login" value="登录">
        <a href="regeister" id="regeister"><input type="button" value="注册"></a>
    </div>
    <h1 class="hintinfo"></h1>
</body>
</html>